// Tabula rasa
@import "../../bower_components/tink-core/dist/tink/variables";
@import "../../bower_components/tink-core/dist/tink/functions";
@import "../../bower_components/tink-core/dist/tink/mixins";

html {
	&.has-nav-left {
		&.nav-left-can-always-close {

			// Nav left is NOT open
			@include mq($screen-sm) {
				.main {
					padding-left: 0;
		    }
		    .nav-left {
		    	transform: translate(rem(-$nav-aside-width), 0);
		    }
		  }

			// Nav left is open
			&.nav-left-open {
				@include mq($screen-sm) {
					.main {
			      padding-left: rem($nav-aside-width + $nav-aside-extra-body-padding);
			    }
			    .nav-left {
			      transform: translate(0, 0);
			    }
			  }
		  }

			// Make sure the toggle is always visible
			.nav-top {
				&-branding {
					> li {
						&.toggle {
							@include mq($screen-sm) {
								display: block;
							}
						}
					}
				}
			}
		}
	}

	&.ew-resize {
		cursor: ew-resize;
	}

	&.ns-resize {
		cursor: ns-resize;
	}
}


/**
 * Split view specific
 */

.main {
	height: 100vh; // TO DO: check if this is ok to do by default
}

%split-view {
	height: 100%;
	overflow: hidden;
	position: relative;
	z-index: layer("base");
}

.split-handle {
	background-color: rgba(255,0,0,.32);
	position: absolute;
}

.split-pane {
	display: block;
	float: left;
	overflow: auto;
}

.split-view-vertical {
	@extend %split-view;

	.split-pane {
		height: 100%;
		width: 50%;

		&:first-child {
			border-right: 1px solid $gray-light;
			z-index: 2;
		}
	}

	.split-handle {
		bottom: 0;
		cursor: ew-resize;
		left: calc(50% - 3px);
		top: 0;
		width: 5px;
		z-index: layer("pseudo");
	}
}

.split-view-horizontal {
	@extend %split-view;

	.split-pane {
		height: 50%;
		width: 100%;

		&:first-child {
			border-bottom: 1px solid $gray-light;
		}
	}

	.split-handle {
		left: 0;
		cursor: ns-resize;
		height: 5px;
		right: 0;
		top: calc(50% - 2.5px);
		z-index: layer("pseudo");
	}
}