<tink-master-detail-view>
  <tink-list-view>
    <div class="list-mailbox-options">
      <div class="container">
        <div class="row">
          <div class="col-xs-12 margin-bottom margin-top">
            <div class="radio checkbox-inline">
              <input type="radio" id="docsradio" name="docsradio" value="" checked="checked">
              <label for="docsradio">Alle documenten</label>
            </div>
            <div class="radio checkbox-inline">
              <input type="radio" id="docsradio" name="docsradio" value="">
              <label for="docsradio">Zonder eID</label>
            </div>
          </div>
        </div>
      </div>
    </div>
    <ul class="list-mailbox">
      <li class="unread">
        <span class="list-mailbox-title">Pasta ipsum dolor sit amet</span>
        <span class="category">Pasta</span>
        <span class="list-mailbox-description">Trennette pasta al ceppo zitoni mafalde fettucelle scialatelli linguine occhi di lupo fiorentine agnolotti. Ziti quadrefiore zitoni creste di galli orzo fettucelle conchiglie gnocchi penne lisce gnocchi spaghettini pillus calamaretti gemelli pillus.</span>
      </li>
      <li class="unread">
        <span class="list-mailbox-title">Pasta ipsum dolor sit amet</span>
        <span class="category">Pasta</span>
        <span class="list-mailbox-description">Trennette pasta al ceppo zitoni mafalde fettucelle scialatelli linguine occhi di lupo fiorentine agnolotti. Ziti quadrefiore zitoni creste di galli orzo fettucelle conchiglie gnocchi penne lisce gnocchi spaghettini pillus calamaretti gemelli pillus.</span>
      </li>
      <li>
        <span class="list-mailbox-title">Pasta ipsum dolor sit amet</span>
        <span class="category">Pasta</span>
        <span class="list-mailbox-description">Trennette pasta al ceppo zitoni mafalde fettucelle scialatelli linguine occhi di lupo fiorentine agnolotti. Ziti quadrefiore zitoni creste di galli orzo fettucelle conchiglie gnocchi penne lisce gnocchi spaghettini pillus calamaretti gemelli pillus.</span>
      </li>
      <li>
        <span class="list-mailbox-title">Pasta ipsum dolor sit amet</span>
        <span class="category">Pasta</span>
        <span class="list-mailbox-description">Trennette pasta al ceppo zitoni mafalde fettucelle scialatelli linguine occhi di lupo fiorentine agnolotti. Ziti quadrefiore zitoni creste di galli orzo fettucelle conchiglie gnocchi penne lisce gnocchi spaghettini pillus calamaretti gemelli pillus.</span>
      </li>
      <li>
        <span class="list-mailbox-title">Pasta ipsum dolor sit amet</span>
        <span class="category">Pasta</span>
        <span class="list-mailbox-description">Trennette pasta al ceppo zitoni mafalde fettucelle scialatelli linguine occhi di lupo fiorentine agnolotti. Ziti quadrefiore zitoni creste di galli orzo fettucelle conchiglie gnocchi penne lisce gnocchi spaghettini pillus calamaretti gemelli pillus.</span>
      </li>
      <li>
        <span class="list-mailbox-title">Pasta ipsum dolor sit amet</span>
        <span class="category">Pasta</span>
        <span class="list-mailbox-description">Trennette pasta al ceppo zitoni mafalde fettucelle scialatelli linguine occhi di lupo fiorentine agnolotti. Ziti quadrefiore zitoni creste di galli orzo fettucelle conchiglie gnocchi penne lisce gnocchi spaghettini pillus calamaretti gemelli pillus.</span>
      </li>
      <li>
        <span class="list-mailbox-title">Pasta ipsum dolor sit amet</span>
        <span class="category">Pasta</span>
        <span class="list-mailbox-description">Trennette pasta al ceppo zitoni mafalde fettucelle scialatelli linguine occhi di lupo fiorentine agnolotti. Ziti quadrefiore zitoni creste di galli orzo fettucelle conchiglie gnocchi penne lisce gnocchi spaghettini pillus calamaretti gemelli pillus.</span>
      </li>
      <li>
        <span class="list-mailbox-title">Pasta ipsum dolor sit amet</span>
        <span class="category">Pasta</span>
        <span class="list-mailbox-description">Trennette pasta al ceppo zitoni mafalde fettucelle scialatelli linguine occhi di lupo fiorentine agnolotti. Ziti quadrefiore zitoni creste di galli orzo fettucelle conchiglie gnocchi penne lisce gnocchi spaghettini pillus calamaretti gemelli pillus.</span>
      </li>
      <li>
        <span class="list-mailbox-title">Pasta ipsum dolor sit amet</span>
        <span class="category">Pasta</span>
        <span class="list-mailbox-description">Trennette pasta al ceppo zitoni mafalde fettucelle scialatelli linguine occhi di lupo fiorentine agnolotti. Ziti quadrefiore zitoni creste di galli orzo fettucelle conchiglie gnocchi penne lisce gnocchi spaghettini pillus calamaretti gemelli pillus.</span>
      </li>
      <li>
        <span class="list-mailbox-title">Pasta ipsum dolor sit amet</span>
        <span class="category">Pasta</span>
        <span class="list-mailbox-description">Trennette pasta al ceppo zitoni mafalde fettucelle scialatelli linguine occhi di lupo fiorentine agnolotti. Ziti quadrefiore zitoni creste di galli orzo fettucelle conchiglie gnocchi penne lisce gnocchi spaghettini pillus calamaretti gemelli pillus.</span>
      </li>
    </ul>
  </tink-list-view>
  <tink-content-view>
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <h1>Hello!</h1>
          <p>Pasta ipsum dolor sit amet zitoni cencioni gigli fusilli lunghi fiori sacchettoni taglierini acini di pepe. Trennette pasta al ceppo zitoni mafalde fettucelle scialatelli linguine occhi di lupo fiorentine agnolotti. Ziti quadrefiore zitoni creste di galli orzo fettucelle conchiglie gnocchi penne lisce gnocchi spaghettini pillus calamaretti gemelli pillus.</p>
          <p>Lasagne spaghetti alla chitarra ziti lanterne conchiglie. Gigli rigatoncini fusilli lunghi calamarata maltagliati capunti trenne linguine. Mafaldine pappardelle sagnarelli paccheri agnolotti trofie spaghetti sagnarelli fedelini fusilli lunghi casarecce cencioni. Tripoline corzetti fettucelle capunti tortelloni cavatappi ditalini zitoni tuffoli foglie d'ulivo mafalde sagne 'ncannulate.</p>
          <p>Sagnarelli pillus farfalle fettucelle calamarata tuffoli sorprese lisce vermicelli trofie lagane farfalloni cencioni. Ricciolini capunti fiorentine ditalini sorprese lisce. Fagioloni foglie d'ulivo capunti fusilli bucati fettuce tortellini timpano quadrefiore maltagliati tagliatelle. Perciatelli tripoline orzo torchio bavettine marziani penne rigate. Strozzapreti capelli d'angelo elicoidali spaghetti sacchettini sorprese quadrefiore quadrefiore. Pici scialatelli trenne mezzi bombardoni cencioni.</p>
          <p>Pasta ipsum dolor sit amet zitoni cencioni gigli fusilli lunghi fiori sacchettoni taglierini acini di pepe. Trennette pasta al ceppo zitoni mafalde fettucelle scialatelli linguine occhi di lupo fiorentine agnolotti. Ziti quadrefiore zitoni creste di galli orzo fettucelle conchiglie gnocchi penne lisce gnocchi spaghettini pillus calamaretti gemelli pillus.</p>
          <p>Lasagne spaghetti alla chitarra ziti lanterne conchiglie. Gigli rigatoncini fusilli lunghi calamarata maltagliati capunti trenne linguine. Mafaldine pappardelle sagnarelli paccheri agnolotti trofie spaghetti sagnarelli fedelini fusilli lunghi casarecce cencioni. Tripoline corzetti fettucelle capunti tortelloni cavatappi ditalini zitoni tuffoli foglie d'ulivo mafalde sagne 'ncannulate.</p>
          <p>Sagnarelli pillus farfalle fettucelle calamarata tuffoli sorprese lisce vermicelli trofie lagane farfalloni cencioni. Ricciolini capunti fiorentine ditalini sorprese lisce. Fagioloni foglie d'ulivo capunti fusilli bucati fettuce tortellini timpano quadrefiore maltagliati tagliatelle. Perciatelli tripoline orzo torchio bavettine marziani penne rigate. Strozzapreti capelli d'angelo elicoidali spaghetti sacchettini sorprese quadrefiore quadrefiore. Pici scialatelli trenne mezzi bombardoni cencioni.</p>
        </div>
      </div>
    </div>
  </tink-content-view>
</tink-master-detail-view>
