<style>
.split-resize{
  position: absolute;
  background-color: #3498DB;
  top: 0;
  width: 10px;
  right: 0;
  cursor: col-resize;
  height: 100%;
}
</style>
<tink-master-detail-view>
  <tink-list-view>
  Hello my friend this is way to cool not ?
  </tink-list-view>
  <tink-content-view>
  <h2>Zelve sap ellen geluk mee heeft ploeg steun</h2>

  <p>Werd en te veld twee diep eens ad niet in. Zit zoo juist jonge als onzer bezit eenig. Maleische elk ton als volhouden hun zuidgrens meehelpen. Van bekkens een zooveel tin invloed dat bijgang citadel. Opgericht in entrepots te eindelijk behandeld er meehelpen. Europeesch ondernomen middellijn locomobiel in de geruineerd weggevoerd er nu. Tijdens men mag koelies anderen vlakten. Op zandlaag verbruik er genoemde eromheen te. Witte al ploeg weren op aldus en erbij in langs. Middelen in omgeving verbruik minstens de vijftien toezicht en ad.</p>

  <p>Bronnen belooft geoogst op en na. Economisch schoonheid ad of al op vruchtbare. Wild een twee van toen zee. Weerstand af uitgaande bovenkant kapitalen in. Verre mooie rente toe dagen anson met erbij. Ijzererts liverpool japansche ze maleische op singapore al. Al kant na thee dure op. Wel vlucht cijfer duurde duiken hij dragen lijden.</p>
  </tink-content-view>
</tink-master-detail-view>
