<aside>
  <div class="nav-aside-section">
    <p class="nav-aside-title">Documenten</p>
    <ul>
      <li>
        <a href="#/"><span>Te tekenen</span></a>
         <ul>
          <li><a href="#/"><span>Alle documenten</span><span class="badge">4</span></a></li>
          <li><a href="#/"><span>Dringend</span><span class="badge">1</span></a></li>
          <li><a href="#/"><span>Sport</span><span class="badge">2</span></a></li>
          <li><a href="#/"><span>Jeugd</span></a></li>
          <li><a href="#/"><span>Bestuurszaken</span><span class="badge">1</span></a></li>
        </ul>
        <ul>
        </ul>
      </li>
    </ul>
  </div>
</aside>
