<aside>
  <div class="nav-aside-section">
    <p class="nav-aside-title">Documenten</p>
    <ul>
      <li>
        <a href=""><span>Te tekenen</span></a>
         <ul>
          <li><a href="#/"><span>Alle documenten</span><span class="badge">{{messages.length}}</span></a></li>
          <li><a href="#/dringend"><span>Dringend</span><span class="badge">{{(messages | filter:{category:"dringend"}).length}}</span></a></li>
          <li><a href="#/sport"><span>Sport</span><span class="badge">{{(messages | filter:{category:"sport"}).length}}</span></a></li>
          <li><a href="#/jeugd"><span>Jeugd</span><span class="badge">{{(messages | filter:{category:"jeugd"}).length}}</span></a></li>
          <li><a href="#/bestuurszaken"><span>Bestuurszaken</span><span class="badge">{{(messages | filter:{category:"bestuurszaken"}).length}}</span></a></li>
        </ul>
        <ul>
        </ul>
      </li>
    </ul>
  </div>
</aside>
