<ul class="nav-top-branding">
  <li class="logo">
    <a href="#/" title="Hallo"><span>Hallo</span></a>
  </li>
  <li class="toggle" data-tink-sidenav-collapse="sideNavLeft">
    <a href="" title="Open menu"><i class="fa fa-bars"><span class="sr-only">Open menu</span></i></a>
  </li>
  <li class="app">
    <h1><a href="#/" title="Hallo">Hallo</a></h1>
  </li>
</ul>


<section class="nav-top-section">
  <ul class="nav-top-section-right">
    <li class="toggle" data-tink-sidenav-collapse="sideNavRight">
      <a href="" title="Open menu"><i class="fa fa-bars"><span class="sr-only">Open menu</span></i></a>
    </li>
  </ul>
</section>
